%formulario {
  form {
    width: 100%;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    h2 {
      font-size: 2rem;
      text-align: center;
      color: var(--secondary-color);
      font-size: 3rem;
    }

    label {
      width: 100%;
      font-size: 2.5vh;
      margin-top: 0.5rem;
      color: var(--secondary-color);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    input,
    textarea {
      width: 100%;
      padding: 1vh;
      border-radius: var(--redondes);
      background-color: rgb(230, 227, 227);
      border: none;
      // border-color: var(--secondary-color);
      font-size: 1.5rem;
      resize: vertical;

      &:hover {
        border: none;
        background-color: var(--secondary-color);
        transform: scale(1.05);
      }
    }

    .botones {
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;

      .cambiar {
        width: 50vw;
        display: flex;
        
        .btn-cambiar {
          font-size: 2vw;
          width: 100%;
          border-radius: var(--redondes);
          border: none;
          padding: 1rem;
          color: var(--primary-color);
          background-color: var(--secondary-color);
          cursor: pointer;
    
          &:hover {
            background-color: var(--primary-color);
            border: 0.2rem solid var(--secondary-color);
            color: var(--secondary-color);
          }
        }
      }

      .otros_cambiar {
        width: 50vw;
        display: flex;
        gap: 20px;
      }
    }

    .btn {
      width: 100%;
      border-radius: var(--redondes);
      border: none;
      padding: 1rem;
      color: var(--primary-color);
      background-color: var(--secondary-color);
      font-size: 2rem;
      margin-top: 15px;
      cursor: pointer;

      &:hover {
        background-color: var(--secondary-color);
        border: 0.2rem solid var(--primary-color);
        color: var(--primary-color);
      }
    }

    #imgChange {
      width: 40%;
      aspect-ratio: 1;
      align-self: center;
      border-radius: 50%;
      object-fit: cover;
      margin: auto;
      background-color: var(--primary-color);

    }

    .btn-2 {
      width: 100%;
      border-radius: 10px;
      border: none;
      padding: 10px;
      color: var(--primary-color);
      background-color: var(--secondary-color);
      font-size: 2vw;
      margin-top: 1rem;

      &:hover {
        background-color: var(--primary-color);
        border: 1px solid var(--secondary-color);
        color: var(--secondary-color);
      }
    }
  }
  .error-p {
    color: red;
    font-size: 2rem;
    text-align: center;
  }
  .error-p + a {
    width: 100%;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
  }


  
}
